<html>
  <head><title></title></head>
  <body>
   
     <!-- for each loop-->
    <h1>Our Post Page!</h1>
    <% posts.forEach(function(post){ %>
    <li><%= post.title %> - <%= post.name1 %> </li>
    <% }) %>
    
  </body>
</html>