<!DOCTYPE html>
 <html>
  <head>
      <title><%= title %></title>
    </head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/stylus.css" rel="stylesheet" type="text/css">
  
  <body>
    
    <h1>welcome <%= user %></h1>
     
     <h2>this is the child layout</h2>
  </body>
</html>