<html>
  <head>
      <title> layouts</title>
      </head>
  <body>
    
    <h2>this is in layout file</h2>
    
    <div class="header"><%- include('partials/header') %></div>
    
    <%- body %>
    
    <div class="footer"><%- include('partials/footer') %></div>
     
  </body>
</html>